.heading{
    background-image: linear-gradient(135deg,#ea6118,#cb6b37,#1e9f90, #d6d6d6d2);
    -webkit-background-clip: text;
    color: transparent;
}
.glassy{
    background: rgba(23, 24, 24, 0.195);
    backdrop-filter: blur(10px);
   
    padding: 10px;
    border: 1px solid rgba(209, 213, 219, 0.472);
    border-radius: 12px;
}
.shading{
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.393),rgba(28, 28, 28, 0.055));
}
